[Unit]
Description=Ironic agent config drive setup
Wants=network-pre.target
Before=network-pre.target
After=local-fs.target

[Service]
ExecStart=/bin/bash /usr/local/bin/ironic-python-agent-resolve-configdrive.sh
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
